name: CI
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 20 * * MON'

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Change branch
        run: |
          git fetch
          git checkout rankings
          git pull
          git checkout origin/main hltv_ranking.py
          git restore --staged hltv_ranking.py
      - name: Execute script
        run: |
          OUTPUT_FILE=$(uv run hltv_ranking.py '{{ranking_date}}.json')
          echo "RANKING_DATE=$(basename ${OUTPUT_FILE} .json)" >> $GITHUB_ENV
          echo "YEAR=$(basename ${OUTPUT_FILE} .json | cut -c1-4)" >> $GITHUB_ENV
      - name: Create latest.json
        run: |
          rm latest.json
          mkdir -p ${{ env.YEAR }}
          cp ${{ env.RANKING_DATE }}.json latest.json
          mv ${{ env.RANKING_DATE }}.json ${{ env.YEAR }}/
      - name: Add output to rankings branch
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: HLTV World Ranking ${{ env.RANKING_DATE }}
          branch: rankings
          file_pattern: ${{ env.YEAR }}/${{ env.RANKING_DATE }}.json latest.json
          disable_globbing: true
